<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.projer.push"
	versionCode="9" 
    version   = "1.0.0">
<gap:platform name="android" />
<gap:platform name="ios" />
<preference name="phonegap-version" value="3.1.0" />
<preference name="fullscreen" value="false" />
<preference name="exit-on-suspend" value="true" />
<preference name="orientation" value="portrait" />
<preference name="show-splash-screen-spinner" value="true" />
<preference name="splash-screen-duration" value="10000" />	

<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/notification"/>
<gap:plugin name="com.phonegap.plugins.pushplugin" />


<preference name="android-minSdkVersion" value="9" />

<name>Push notifications</name>

<access origin="http://projerdesign.com/" subdomains="true"/>
<access uri="http://projerdesign.com/" />

<access origin="http://ajax.googleapis.com/" subdomains="true"/>
<access uri="http://ajax.googleapis.com/" />

<access origin="http://code.jquery.com/" subdomains="true"/>
<access uri="http://code.jquery.com/" />




<description>
Push notification
</description>

<author href="http://projerdesign.com/" email="otapia@projerdesign.com/">
Storybox
</author>

<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" /> <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" /> <icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" /> <!-- retina iPad support: PhoneGap 2.5.0+ only --> <icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" /> 

<gap:splash src="splash/ios/Default.png" gap:platform="ios" width="320" height="480" /> <gap:splash src="splash/ios/Default_at_2x.png" gap:platform="ios" width="640" height="960" /> <gap:splash src="splash/ios/Default_iphone5.png" gap:platform="ios" width="640" height="1136" /> <gap:splash src="splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="748" /> <gap:splash src="splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1004" /> <!-- retina iPad support: PhoneGap 2.5.0+ only --> <gap:splash src="splash/ios/Default-Landscape_at_2x.png" gap:platform="ios" width="2048" height="1496" /> <gap:splash src="splash/ios/Default-Portrait_at_2x.png" gap:platform="ios" width="1536" height="2008" /> 

<icon src="icons/android/xhdpi.png" />
<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
<icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
<icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
<icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

<gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" /> 	

	<preference name="android-installLocation" value="auto" />

</widget>
